/* * {
  font-family: 'Poppins', sans-serif;
} */

div {
  font-family: 'Kanit', sans-serif;
}

.main-nav {
  color: grey;
}

.main-nav:hover {
  color: tomato;
}

.main-nav.active {
  color: tomato;
}
